/*
Theme Name: Horizillax
Theme URI: http://www.productivethemes.com/horizillax
Author: Gopal Raju
Author URI: http://www.convax.com/
Description: Horizillax - A horizontal parallax based wordpress theme that looks great on any device, big or small.
Version: 1.1
License: GNU General Public License
License URI: http://themeforest.net/wiki/support/legal-terms/licensing-terms/
Tags: black, white, light, dark, right-sidebar, responsive-layout, custom-background, custom-header, custom-menu, featured-images, flexible-header, post-formats,theme-options
Text Domain: Horizillax 
*/

@import url("css/font-awesome.min.css");
@import url("css/bootstrap-social.css");

/* General */

html,body{
	width:100%;
	margin: 0 !important;
	height: 100%;
	}

.logged-in #masthead, 
.admin-bar #masthead{
	top:32px !important; 
	}

input[type="search"], .search-field{
	border: none;
	padding: 11px;
	}

dt, dd{
	line-height: 2;
	}
	
.container-fluid, .container{
	max-width:1000px;
	}

.container{
	width:auto;
	}

.wrapall{
	height: 100%;
	}

embed, iframe, object, video{
	max-width: 100%;
	}	

/* Sticky Footer */	
.wrapall.innerpage{
	height: auto !important;
    margin: 0 auto -70px;
    padding: 0 0 70px;
    min-height: 100%;
    overflow: hidden;
    clear: both;
	}

#masthead{
	margin-bottom: 35px;
	display: table;
	width: 100%;
	}

.tooltip{
	white-space:nowrap;
	font-size: 11px;
	}
	
.btn-group-wrap{
	text-align: center;
	padding: 20px;
	}

.btn-social-icon.btn-sm, .btn-social-icon.btn-sm:hover{
	color: #FFF !important;
	}
	
.btn:focus, .btn:active{
	box-shadow: none;
	}

.col-sm-9.no-sidebar{
	width:100%;
	}

.logged-in .edit-link{
	position: absolute;
	right:20px;
	top:20px;
	}

.logged-in .edit-link a{
	padding: 10px 20px;
	color: #333;
	background: #ffdb5d;
	border-radius: 3px;
	}

/* Content Box */

.content-box{
	padding: 25px;
	background: #FFF;
	border:2px solid #000 !important;
	}
	
.content-box  .page-contents{
	margin: 0;
	}

.content-box .member, .content-box .blogpost{
	margin-right: 1px !important;
	}	
	
 .parallax-page .content-box .link {
	color: #000;
	margin: 15px;
	}	


.content-box  .page-title h4{
	color: #999;
	}


.content-box .parallax-portfolio .btn-group{
	top:0;
	right:0;
	}

.content-box .parallax-portfolio .contents{
	padding-top: 40px;
	}

/* Page Title and Descriptions */
	
.page-title{
	text-align:center; 
	padding: 0; 
	margin-bottom: 20px; 
	}
	
.page-title h1{
	margin:0;
	}
	
.page-desc{
	font-size: 13px;
	}


/* Navbar and DropDowns */

.navbar{
	margin-bottom: 0;
	border-radius: 0;
	border-bottom: 3px solid #E62129;
	}

.navbar-nav li a:focus{
	outline: none;	
	}
	
.navbar a{
	font-family: Montserrat;
	}
	
ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;    
	}
	
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus{
	background: none;
	}
	
.dropdown-submenu{
	position:relative;
	}
	
.dropdown-submenu>.dropdown-menu{
	top:0;left:100%;
	-webkit-border-radius:0 6px 6px 6px;
	-moz-border-radius:0 6px 6px 6px;
	border-radius:0 6px 6px 6px;
	}
	
.dropdown-submenu:active>.dropdown-menu, 
.dropdown-submenu:hover>.dropdown-menu {
	display: block;
	}
	
.dropdown-submenu>a:after{
	display:block;
	content:" ";
	float:right;
	width:0;
	height:0;
	border-color:transparent;
	border-style:solid;
	border-width:5px 0 5px 5px;
	border-left-color:#ccc;
	margin-top:5px;
	margin-right:-10px;
	}
	
.dropdown-submenu:active>a:after{
	border-left-color:#FFF;
	}
	
.dropdown-submenu.pull-left{
	float:none;
	}

.dropdown-submenu.pull-left>.dropdown-menu{
	left:-100%;
	margin-left:10px;
	-webkit-border-radius:6px 0 6px 6px;
	-moz-border-radius:6px 0 6px 6px;
	border-radius:6px 0 6px 6px;
	}

.current_page_item.open{
	background: none;
	}

.dropdown-menu{
	padding: 0;
	border-radius: 0;
	box-shadow: none;
	border:none;
	}

.dropdown-submenu > .dropdown-menu{
	border-radius: 0;
	margin: 0;
	}	

.dropdown-menu > li > a{
	padding: 8px 20px
	}



/* Search Form Styles */

.search-form .search-field, 
.search-form label, 
.search-submit{
	float: left;
	margin-bottom: 0;
	}

.search-form{
	position: relative;
	}

.screen-reader-text{
	display: none;
	}

.search-form label{
	width:100%;
	}

.search-form .search-submit{
	position: absolute;
	right: 1px;
	top:1px;
	padding: 10px;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	background: none;
	border: none;
	}

.search-form .search-submit:hover, .search-form .search-submit:hover i{
	background: none;
	}

.search-form .search-field{
	padding-right: 50px;
	width: 100%;
	border: 1px solid #f1f1f1;
	}



/* Pagination */

.pagination{
	overflow: hidden;
	}

.pagination > li > a, 
.pagination > li > span{
	font-size: 18px;
	font-family: Montserrat;
	border-radius: 0 !important;
	border: none;
	}



/* Logo Styles */

.navbar-brand {
	padding-top: 0;
	padding-bottom: 0;
	}

.navbar-brand img{
	max-height: 50px;
	}



/* Border Radius */

.parallax-portfolio .bx-viewport, 
.blogpost,
.post_format, 
.overlay span, 
.parallax-page .member, 
.blog-post, 
.widget, 
.bx-viewport .recent-item-list li,
.widget  tfoot td a,
.comment-meta,
#comments,
.portfolio_item,
.hentry,
.content-box
 {
	overflow: hidden;
	background: #FFF;
	}


.parallax-portfolio .bx-viewport, 
.blogpost,
.post_format, 
.overlay span, 
.parallax-page .member, 
.blog-post, 
.widget, 
.bx-viewport .recent-item-list li,
.widget  tfoot td a,
.comment-meta,
#comments,
.btn-group-expand a,
.portfolio_item,
.hentry,
#commentform #author, 
#commentform #email, 
#commentform #url, 
#commentform textarea,
.search-form .search-field,
#portfolio-cat-filter,
.content-box{
	border-radius:3px !important;
	}


/* Button Styles */

.btn-default{
	padding: 10px 15px;
	border: none;
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 12px;
	}

.btn-default:hover{
	text-decoration: none;
	}

.btn-icon i{
	margin-right: 5px;
	}



/* Next/Prev Button Styles */

.btn-group-expand{
	position: absolute;
	top:50%;
	margin-top: -20px;
	z-index: 998;
	width:100%;
	left: 0;
	}

.btn-group-expand .bx-next{
	position: absolute;
	right: 20px;
	}
	
.btn-group-expand .bx-prev{
	position: absolute;
	left: 20px;
	}



/* Image Overlays */

.overlay .icon-align{
	top:50%;
	margin-top: -35px;
	left: 50%;
	margin-left: -35px;
	text-align: center;
	position: absolute;
	z-index: 998;
	opacity: 0;
	background: transparent;
	}

.overlay .two-icons{
	margin-left: -50px;
	}

.overlay .icon{
	display: inline-block;
	color: #555;
	}

.overlay:hover .icon-align{
	opacity: 1;
	}

.overlay{
	position: relative;
	display: block;
	overflow: hidden;
	}

.overlay img{
	opacity: 1;
	width:100%;
	height: auto;
	}

.overlay:hover img{
	opacity: .3 !important;
	}

.overlay i{
	width:50px;
	height:50px;
	font-size:22px;
	line-height:50px;
	text-align: center;
	}



/* Social Media Buttons */	

#social-icons{
	padding:10px 0;
	}
	
.btn-social-icon{
	margin-left: 5px; 
	border: none;
	}


		
/* Bxslider */

.bx-wrapper{
	position: relative;
	}
	
.bx-pager{
	text-align: center;
	}
	
.disabled{
	display: none;
	}



/*Home Template */

html.template-parallax,
html.template-parallax body{
	height:100%;
	width:100%;
	overflow: hidden;
	margin:0 !important;
	padding: 0;
	}

.template-parallax #masthead{
	position: fixed;
	z-index: 999;
	top:0;
	left: 0;
	right: 0;
	margin: 0;
	}

#parallax-container{
	width:100%;
	height:100%;
	overflow:hidden;
	min-height:200px;
	min-width: 300px;
	position: relative;
	}

.parallaxItem{
	position:absolute;
	bottom:0;
	left:0;
	-webkit-backface-visibility: hidden;
	}
	
.template-parallax body{
	-webkit-transform:translate3d(0,0,0); /* safari flicker fix */
	}
	
.parallax-page{
	position:absolute;
	width:75%;
	max-width: 790px;
	}

	

/*Nano Scroller*/

.nano{ 
	height: 300px; 
	margin-top: 20px;
	}
	
.nano .nano-content{ 
	padding:0 30px; 
	}
	
.parallax-portfolio.nano-content, .parallax-blog.nano-content, .parallax-about.nano-content{
	padding: 0;
	}	
	.nano .nano-pane{ 
	background: transparent;
	}
	




/**
 * Parallax Page Styles
 * ----------------------------------------------------------------------------
 */

.parallax-page .page-title h1, 
.parallax-page .page-title h2, 
.parallax-page .page-title h3, 
.parallax-page .page-title h4{
	margin: 0;
	}

.template-parallax .site-footer{
	position: fixed;
	bottom: 0;
	z-index: 499;
	width:100%;
	}
 

.parallax-page .link{
	position: absolute;
	top:0;
	right:0;
	font-size: 20px;
	/* background: none; 
	color: #FFF;*/
	border: none;
	}


/* Parallax Portfolio Template */

.parallax-portfolio{
	position: relative;
	}

.parallax-page  .page-contents img{
	max-width: 100%;
	height: auto;
	}

.parallax-portfolio h2 a:hover{
	text-decoration: none;
	}

/* Slider */


.parallax-portfolio .slider{
	margin: 0;
	padding: 0;
	display:block;
	}

.parallax-portfolio .slider li{
	text-align: center;
	background: #FFF;
	}

.parallax-portfolio .slider li img{
	float: left;
	width:500px;
	margin-right: 25px;
	max-width:400px;
	height:auto;
	}

.parallax-portfolio #pager{
	width:500px;
	max-width:400px;
	text-align: center;
	position: absolute;
	bottom: 20px;
	z-index: 998;
	}

.parallax-portfolio #pager img{
	width:45px;
	height: auto;
	border: 2px solid #FFF;
	}

.parallax-portfolio #pager a{
	padding: 5px;
	opacity: .4;
	}

.parallax-portfolio #pager a.active{
	opacity: 1;
	}

.parallax-portfolio .btn-group{
	position:absolute;
	top:30px;
	right: 30px;
	z-index: 999;
	}

.parallax-portfolio .contents{
	position: relative;
	z-index: 99999;
	text-align: left;
	padding: 60px 40px 40px 40px;
	}

.parallax-portfolio .contents p{
	padding:  20px 0;
	}



/* Parallax Blog Template */
	
.small-title .blog-post-title a, 
.small-title .blog-post-title,
.team-content h3{
	font-size: 20px;
	line-height: 26px;
	margin: 0;
	}

.template-parallax .blogpost img{
	width:100%;
	height: auto;
	}

.blogpost .overlay{
	position: absolute;
	bottom: 0;
	}

.blogpost .post-title{
	clear:both;
	padding: 20px;
	font-size: 22px;
	line-height: 27px;
	}

.blogpost .excerpt{
	padding: 0 20px;
	}

.blogpost .excerpt, 
.blogpost .post-title{
	padding-left: 85px;
	}
	


/* Parallax About Template */

.team-pic{
	text-align: center;
	position: relative;
	min-height: 100px;
	overflow: hidden;
	background: #FFF;
	}

.team-pic{
    z-index: 2;
	}

.team-desc .wrapper-pad{
	padding: 25px;
	}

.team-desc{
    background: #F2F2F2;
    width: 100%;
    z-index: 1;
	position: absolute;
	top:0;
	left: 0;
	overflow-x: auto;
	max-height: 100%;
	height:240px;
	}

.team-group:hover .team-desc{
	z-index: 99;
	}

.team-content h3, 
.team-content p, 
.team-group{
	max-width: 100%;
	width: 275px;
	margin:0 auto;
	text-align:center;
	background: #FFF;
	}

.team-content h3, 
.team-content p{
	padding:5px;
	clear:both;
	}

.team-content h3{
	padding-top:10px;
	padding-bottom:0;
	}

.team-content p{
	padding-bottom: 15px;
	padding-top:0;
	color:#AAA;
	}

.team-content{
	width: 275px;
	max-width: 100%;
	margin: 0 auto;
	background: #FFF;
	}

.team {
	overflow: hidden;
	}

.team img{
	max-width: 100%;
	}

.member-social{ 
	text-align:center;
	width:100%; 
	padding-bottom: 20px; 
	}

.page-contents .member h3, 
.page-contents .member p, 
.page-contents .team-group, 
.page-contents .member .team-content{
	max-width:100%;
	}



/**
 * Generic Page Styles
 * ----------------------------------------------------------------------------
 */

.wrapper{
	margin: 0 auto;
	}

.page .wrapper-pad .main-title{
	margin: 0;
	}

.site-footer{
	clear:both;
	}
	
.site-footer .footer-info{
	padding: 10px 25px;
	color:#E62129;
	}
.site-footer .footer-info a{
	font-weight:bolder;
	color:#E62129 !important;
	}

/* 404 Page Styles */

.error404 .search-form,
.search-no-results .search-form{
	width: 600px;
	margin: 0 auto;
	}

.error404,
.search-no-results{
	text-align: center;
	}	

/* Blog Page Styles */

.blog-post-title{
	padding-left: 60px;
	margin-bottom: 0;
	}

.entry-content td,
.entry-content th{
	padding: 5px;
	}

.entry-content img{
	max-width: 100%;
	}

.not-post .blog-post-title,
.not-post .entry-header .meta-details{
	padding-left: 0;
	}


.not-post .post_format{
	display: none;
	}

.cat-tag{
	padding: 10px 35px;
	color: #666;
	}

.cat-tag a{
	padding: 10px 5px;
	text-transform: uppercase;
	font-size: 11px;
	font-family: Montserrat;
	}
	
.tags_list, 
.categories_list{
	display: inline-block;
	}

.post_format{
	position: absolute;
	top:25px;
	left: 25px;
	width:50px;
	height:50px;
	z-index: 9999;
	background: #4D4D4F;
	}

.post_format:before{
	content: "\f0c9";
	font-size: 16px;
	color: #FFF;
	width:50px;
	height:50px;
	position: absolute;
	line-height: 50px;
	text-align: center;
	cursor: default;
	}

.blog-post .post_format{
	left:30px;
	top:30px;
	}

.blog-main .entry-content{
	padding-top: 0;
	}

iframe.twitter-tweet{
	box-shadow:none !important;
	width:100% !important;
	border:none !important;
	margin-top: 0 !important;
	}

.format-aside .post_format:before{
	content:"\f192";
	}

.format-audio .post_format:before{
	content:"\f028";
	}

.format-chat .post_format:before{
	content:"\f086";
	}

.format-gallery .post_format:before{
	content:"\f03e";
	}

.format-image .post_format:before{
	content:"\f030";
	}

.format-video .post_format:before{
	content:"\f03d";
	}

.format-link .post_format:before{
	content:"\f0c1";
	}

.format-quote .post_format:before{
	content:"\f10d";
	}

.format-status .post_format:before{
	content:"\f15c";
	}	

.entry-header, 
.entry-content{
	padding: 25px 35px;
	overflow: hidden;
	}

.entry-header h1{
	margin-top: 0;
	}
	
.entry-header h1,
.entry-header h1 a{
	color: #333;
	}

.entry-header a:hover{
	text-decoration: none;
	}

.entry-header .meta-details{
	padding: 0 0 0 60px ;
	overflow: hidden;
	clear: both;
	}

.entry-header .meta-details a{
	padding: 0 5px;
	text-transform: uppercase;
	font-size: 11px;
	font-family: Montserrat;
	white-space: nowrap;
	}

.entry-thumbnail img{
	max-width:100%;
	height: auto;
	}
.entry-thumbnail{
	text-align: center;
	}

.blog-post,
.widget{
	background: #FFF;
	margin: 0 0 25px 0;
	overflow: hidden;
	}

.blog-post:first-child{
	margin-top: 0;
	}

.blog-post{
	position:relative;
	}



/* Widget Styles */	

.widget{
	padding: 20px 25px;
	}
	
.widget .widget-title{
	margin-top: 0;
	}
	
.widget ul,
.widget li{
	list-style:none;
	margin: 0;
	padding: 0;
	}

.widget li ul.children{
	padding-left: 10px;
	border-left: 3px solid #f2f2f2;
	margin:8px 0 0 0 !important;
	}

.widget li{
	padding: 8px 0;
	}

.widget img{
	max-width: 100%;
	height: auto;
	}

.widget select{
	width:100%;
	}
	
.widget.social_networks_widget a{
	margin: 3px;
	}

/* RSS Widget */

.rss-date, .rssSummary{
	display: block;
	clear: both;
	padding-bottom: 5px;
	}

/* Categories Widget */

.widget_categories li{
	text-align: right;
	clear:both;
	overflow:hidden;
	}

.widget_categories li a{
	float: left;
	}



/* Recent Posts Widget */

.widget_recent_entries li .post-date{
	display: block;
	}

.widget #recent-projects .btn-group{
	position: absolute;
	top:5px;
	right:5px;
	}

/* Tag Cloud Widget */

.widget_tag_cloud a{
	display: block;
	float: left;
	white-space: nowrap;
	padding: 3px 5px;
	border:1px solid #f2f2f2;
	margin: 0 8px 8px 0;
	font-size: 12px !important;
	overflow: hidden;
	}

.widget_tag_cloud a:hover{
	background: #333;
	color: #FFF;
	text-decoration: none;
	}

/* Calendar Widget */

.widget_calendar caption{
	text-align: left;
	}

/* Recent Projects Widgets*/

.widget.widget_recent_posts, 
.widget.widget_recent_posts li{
	padding: 0;
	}

.widget_recent_posts h3{
	padding: 20px 35px 10px 35px;
	margin-bottom: 0;
	}

#recent-projects{
	position: relative;
	}

#recent-projects .bx-pager{
	height: 30px;
	}

#recent-projects .bx-controls .bx-pager-item{
	display: inline;
	padding: 0 5px;
	}

#recent-projects .bx-controls .bx-pager-item .bx-pager-link{
	padding: 3px;
	border-radius: 50%;
	font-size: 0px;
	background: #FFF;
	border: 1px solid #333;
	}

#recent-projects .bx-controls .bx-pager-item .bx-pager-link.active{
	border: 3px solid #333;
	background: #333;
	}

#recent-projects .overlay .icon-align{
	font-size: 20px;
	padding: 30px;
	left: 0;
	right:0;
	top:0;
	margin: 0;
	}

#recent-projects a.thumb:hover span{
	display: block;
	}



/* Calendar Widgets*/

.widget table{
	width: 100%;
	text-align: center;
	}

.widget table th{
	text-align: center;
	}

.widget tfoot td#next a{
	float: right;
	}

.widget  tfoot a{
	padding: 5px 10px;
	display: block;
	background: #f2f2f2;
	float: left;
	margin-top: 10px;
	text-decoration: none;
	}



/* Comments List */

.comment-list li li:last-child{
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
	}

.comment-author .fn{
	font-size: 15px;
	}

.comments-title{
	margin-top: 0;
	}

.comment-list, 
.comment-list li{
	list-style: none;
	margin: 0;
	padding: 0;
	}

.comment-list .avatar{
	float: left;
	margin-right: 20px;
	width:50px;
	height: 50px;
	}

.comment-list li{
	padding: 15px 0;
	border-bottom: 1px solid #f2f2f2;
	}

.comment-content{
	padding: 15px 0 0 0;
	clear: both;
	}

.comment-meta{
	background:#f9f9f9;
    float: left;
    overflow: hidden;
    padding: 20px;
    width: 310px;
}

.comment-body{
	position: relative;
	}

.bypostauthor{
	background: #F9F9F9;
	}

.bypostauthor .comment-meta{
margin-left: 10px;
background: #FFF;
}

.bypostauthor .comment-content, 
.bypostauthor  .reply,
.bypostauthor #respond{
margin-left: 20px;
margin-right: 20px;
}

/* Comments Form */

.comments-area, .comment-respond{
	padding: 30px;
	background: #FFF;
	margin: 25px 0 0 0;
	}

.comment-respond{
	margin-top: 0; 
 }

.comment-respond .form-allowed-tags,
.comment-notes{
	display: none;
	}

#commentform label{
	display: block;
	font-weight: normal;
	}

#commentform #author, 
#commentform #email,
#commentform #url, 
#commentform textarea{
	border: 1px solid #F2F2F2;
	padding:10px;
	width:50%;
	font-size: 15px;
	} 


/**
 * About Single Page Styles
 * ----------------------------------------------------------------------------
 */
.page-template-template-about-php .team-content h3, 
.page-template-template-about-php .team-content p, 
.page-template-template-about-php .team-group, 
.page-template-template-about-php .team-desc,
.page-template-template-about-php .team-pic,
.page-template-template-about-php .team-content,
.page-template-template-about-php .team-pic img{
	width: 100%;
	max-width:350px;
	height: auto;
	}


.member-pad{
	position: relative;
	background: #FFF;
	border-radius: 3px;
	overflow: hidden;
	margin-bottom: 25px;
	}


	
/**
 * Filterable Portfolio Page Styles
 * ----------------------------------------------------------------------------
 */

.isotope .isotope-item {
  	-webkit-transition-duration: 0.8s;
 	-moz-transition-duration: 0.8s;
  	transition-duration: 0.8s;
  	-webkit-transition-property:-webkit-transform, opacity;
  	-moz-transition-property:-moz-transform, opacity;
  	transition-property:transform, opacity;        
	}

.isotope .element{
	float: left;
	}	

.isotope{
	margin: 0 auto;
	}

#portfolio .col-sm-4 {
    width: 33.30%;
	}	

#portfolio-cat-filter{
	overflow: hidden;
	margin:0 15px 30px 15px;
	}

#portfolio-cat-filter .pagination{text-align: center; border-radius: 0; display: block; margin: 10px 0}


#portfolio-cat-filter .pagination > li > a, 
#portfolio-cat-filter .pagination > li > span{
	padding: 10px 20px;
	outline:none;
	font-size: 16px;
	float: none;
	display: inline-block;
}


#portfolio-cat-filter li a span{
	font-size: 13px;
	opacity:.7;
	padding: 3px;
	}


#portfolio-cat-filter li{
	margin-left: -3px;
	}
	
/**
 * Portfolio Single Page Styles
 * ----------------------------------------------------------------------------
 */
 
.portfolio_item{
	margin-bottom: 30px;
	} 


.portfolio_item .cat-tag{
	padding: 10px 0;
	}	
		
.portfolio_item .blog-post-title{
	padding-left: 0;
	}	

.single-portfolio_item .col-sm-9,
.page .col-sm-9{
	float: none;
	margin: 0 auto;
	width: 100%;
	}
	
	
.related-items h2{
	text-align: center;
	padding-bottom: 20px;
	}	

.related-items.has_title .btn-group{
	top:-65px;
	right:0;
	position: absolute;
	}

.related-items .small-title{
	padding-bottom: 15px;
	}
	
.single-portfolio_item  .page-title{
	margin: 0 15px;
	z-index: 9999;
	position: relative;
	}	

#portslider li{
	text-align: center;
	}	

#portslider li img{
	max-width: 100%;
	height: auto;
	}
	
/**
 * Image Single Page Styles
 * ----------------------------------------------------------------------------
 */
 
body.attachment .attachment{
	position: relative;
	text-align: center;
	}



body.attachment .attachment-meta{
	text-align: center;
	display: block;
}


.page-template-default .entry-content{
	padding: 35px;
}

/* == WordPress WYSIWYG Editor Styles == */

.entry-content img {
	margin: 0 0 1.5em 0;
	max-width: 100%;
	height: auto;
	}
.alignleft, img.alignleft {
	margin-right: 1.5em;
	display: inline;
	float: left;
	}
.alignright, img.alignright {
	margin-left: 1.5em;
	display: inline;
	float: right;
	}
.aligncenter, img.aligncenter {
	margin-right: auto;
	margin-left: auto;
	display: block;
	clear: both;
	}
.alignnone, img.alignnone {
	clear:both;
	}
.wp-caption {
	margin-bottom: 1.5em;
	text-align: center;
	padding-top: 5px;
	}
.wp-caption img {
	border: 0 none;
	padding: 0;
	margin: 0;
	}
.wp-caption p.wp-caption-text {
	line-height: 1.5;
	font-size: 10px;
	margin: 0;
	}
.wp-smiley {
	margin: 0 !important;
	max-height: 1em;
	}
blockquote.left {
	margin-right: 20px;
	text-align: right;
	margin-left: 0;
	width: 33%;
	float: left;
	}
blockquote.right {
	margin-left: 20px;
	text-align: left;
	margin-right: 0;
	width: 33%;
	float: right;
	}
	
/* Gallery */
.gallery {
	margin-bottom: 20px;
	display: table;
	margin: 0 auto;
}

.gallery .gallery-icon img{
	margin: 0;
	}

.gallery-item {
	float: left;
	margin: 0 4px 4px 0;
	overflow: hidden;
	position: relative;
}

.gallery-columns-1 .gallery-item {
	max-width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 48%;
	max-width: -webkit-calc(50% - 4px);
	max-width:         calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
	max-width: 32%;
	max-width: -webkit-calc(33.3% - 4px);
	max-width:         calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
	max-width: 23%;
	max-width: -webkit-calc(25% - 4px);
	max-width:         calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
	max-width: 19%;
	max-width: -webkit-calc(20% - 4px);
	max-width:         calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
	max-width: 15%;
	max-width: -webkit-calc(16.7% - 4px);
	max-width:         calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
	max-width: 13%;
	max-width: -webkit-calc(14.28% - 4px);
	max-width:         calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
	max-width: 11%;
	max-width: -webkit-calc(12.5% - 4px);
	max-width:         calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
	max-width: 9%;
	max-width: -webkit-calc(11.1% - 4px);
	max-width:         calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
	margin-right: 0;
}

.gallery-caption {
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-sizing: border-box;
	-moz-box-sizing:    border-box;
	box-sizing:         border-box;
	color: #fff;
	font-size: 12px;
	line-height: 1.5;
	margin: 0;
	max-height: 50%;
	opacity: 0;
	padding: 6px 8px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: left;
	width: 100%;
}

.gallery-caption:before {
	content: "";
	height: 100%;
	min-height: 49px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

.gallery-item:hover .gallery-caption {
	opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}


.sticky{
	background-color: #fffff8;
	}

/**
 * Animations
 * ----------------------------------------------------------------------------
 */

.team-pic, 
.overlay img, 
.overlay .icon i,
.team-desc:hover,
.overlay:hover .icon-align{
	transition-duration:350ms;
	transition-timing-function:ease-out;	
	}

.team-desc{
	opacity: 0;
	}
	
.team-pic:hover{
	opacity: 0;
	}
	
.team-desc:hover{
	opacity: 1;
	}

.overlay img{
	transform:scale(1.01, 1); 
	}


.overlay:hover img{
	transform:scale(1.05, 1.05); 
	}

.navbar-nav li,
.current_page_item .dropdown-toggle,
.navbar-inverse .navbar-nav > .current_page_item > a.dropdown-toggle,
.current_page_item, .current_page_item:hover,
.current_page_item a:focus,
.navbar-inverse .navbar-nav > li.current_page_item > a:hover, 
.navbar-inverse .navbar-nav > li.current_page_item > a:focus,
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, 
.dropdown-menu > .active > a:focus,
#masthead .navbar-nav li.current-menu-item,
.navbar-inverse .navbar-nav > .current_page_item > a, 
.navbar-inverse .navbar-nav > .current_page_item > a:hover, 
.navbar-inverse .navbar-nav > .current_page_item > a:focus{
	transition: background 1s ease-in-out; 
	}
	
.span6{
	float:left;
	width:29%;
}