/* Generic */

html,body{
	background-color: #e8eae3; 
	}

a{
	color: #AAA;
	}

	
body{
	color:#999999;
	}

.page-desc{
	color: #d9f0ee;
	}
							
.content-box .entry-header, 
.content-box .team-content, 
.content-box .team-content h3, 
.content-box .team-content p, 
.content-box .team .member,
.content-box .blogpost{
	background: #f1f1f1;
	}				

.page-title h1,
.parallax-page .page-title h1,
.page .page-title h1,
.author .page-title h1{
	color:#74504f;
	}
	
.page-title h4,
.parallax-page .page-title h4,
.page .page-title h4,
.author .page-title h4{
	color:#7a6362;
	}

.navbar-inverse .navbar-nav > li > a{
	color:#333333;
	}

.widget-title{
	color:#333333;
	}

.blog-post-title, 
.team-content h3{
	color:#333333;
	} 

h1,h2,h3,h4,h5,h6{
	color:#333333;
	}
			
.parallax-page .entry-header .blog-post-title, 
.parallax-page .entry-header .blog-post-title a{ 
	color:#333333;
	}

.team-desc{
	background: #EDF4F3;
	}

.overlay{
	background: #A0CB74
	}

.page .entry-content,
.comments-area,
.comment-respond,
.team-desc,
.blog-main,
.blog-sidebar{
	color:#666666;
	}

.search-field,
#commentform #author, 
#commentform #email, 
#commentform #url, 
#commentform textarea,
textarea,
input[type='text'],
.search-form .search-submit,
.widget .btn-default.search-submit i,
.search-form .search-submit:hover, 
.search-form .search-submit:hover i{
	color:#333333;
	background:#F2F2F2;
	}

.navbar-inverse,
.pagination > li > a, 
.pagination > li > span,
.pagination > li > a:hover, 
.pagination > li > span:hover, 
.pagination > li > a:focus, 
#portfolio-cat-filter,
.pagination > li > span:focus{
	background:#a0cb74;
	}

.navbar-inverse .navbar-nav > li > a,
.pagination > li a,
.pagination > li > span:hover, 
.pagination > li > a:focus, 
.pagination > li > span:focus{
	color:#FFF;
	}

.navbar-inverse .navbar-nav > li > a:hover,
.pagination > li a:hover{
	color:#FFFFFF;
	}

.navbar-inverse .navbar-nav > .current_page_item > a.dropdown-toggle, 
nav .current_page_item, nav .current_page_item:hover, 
nav .current_page_item a:focus, 
.navbar-inverse .navbar-nav > li.current_page_item > a:hover, 
.navbar-inverse .navbar-nav > li.current_page_item > a:focus, 
nav .dropdown-menu > .active > a, 
nav .dropdown-menu > .active > a:hover, 
nav .dropdown-menu > .active > a:focus, 
#masthead .navbar-nav li.current-menu-item, 
.navbar-inverse .navbar-nav > .current_page_item > a, 
.navbar-inverse .navbar-nav > .current_page_item > a:hover, 
.navbar-inverse .navbar-nav > .current_page_item > a:focus,
.pagination > li.active a,
.pagination > .disabled > span, 
.pagination > .disabled > span:hover, 
.pagination > .disabled > span:focus, 
.pagination > .disabled > a, 
.pagination > .disabled > a:hover, 
.pagination > .disabled > a:focus{
	color:#FFF !important;
	}

.navbar-inverse .navbar-nav > .current_page_item > a.dropdown-toggle, 
nav .current_page_item, nav .current_page_item:hover, 
nav .current_page_item a:focus, 
.navbar-inverse .navbar-nav > li.current_page_item > a:hover, 
.navbar-inverse .navbar-nav > li.current_page_item > a:focus, 
nav .dropdown-menu > .active > a, 
nav .dropdown-menu > .active > a:hover, 
nav .dropdown-menu > .active > a:focus, 
#masthead .navbar-nav li.current-menu-item, 
.navbar-inverse .navbar-nav > .current_page_item > a, 
.navbar-inverse .navbar-nav > .current_page_item > a:hover, 
.navbar-inverse .navbar-nav > .current_page_item > a:focus,
.pagination > li.active a,
.pagination > .active > a, 
.pagination > .active > span, 
.pagination > .active > a:hover, 
.pagination > .active > span:hover, 
.pagination > .active > a:focus, 
.pagination > .active > span:focus,
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
	background:#74403e;
	}

.blog-main a,
.blog-sidebar a,
.parallax-page .content-box a{
	color:#795e5d;
	}

.post_format{
background: #795e5d;
}

.blog-main a:hover,
.blog-sidebar a:hover{
	color:#333333;
	}

a{
	color:#AAAAAA;
	}

a:hover{
	color:#333333;
	}
@media (max-width: 768px) {	
.navbar-collapse{
border: none;
}

.navbar-inverse .navbar-toggle{
background: #4b8a7f;
border-color: #4b8a7f;
}

}



.parallax-page a:hover{
	color:#333333;
	}


.parallax-page .content-box  a:hover{
	color:#333333;
	}


.blog-post, 
.sidebar-module,
.widget{
	background:#FFFFFF;
	}


.btn-default, 
.parallax-page .content-box a.btn-default,
.parallax-page .content-box a.btn-default i,
.btn-group .btn-default i,
.widget .btn-default i,
.widget_tag_cloud a,
.sidebar-module.widget  tfoot a,
.icon{
	background:#eaeee1;
	color:#333;
	border:none;
	}

.parallax-page .content-box a.btn-default:hover i,
.parallax-page .content-box a.btn-default:hover,
.btn-default:hover, 
.content-box .btn-default:hover,
.btn-default:hover i,
.widget_tag_cloud a:hover,
.btn-default:focus, 
.btn-default:active, 
.btn-default:focus i,
.btn-default:active i,
.btn-default.active i, 
.btn-default.active, 
.open .dropdown-toggle.btn-default,
.sidebar-module.widget  tfoot a:hover,
.icon:hover, 
.icon:hover i,
.parallax-page .btn:hover{
	background:#74403e;
	color:#FFF;
	}

.btn{
border-color: transparent !important;
}

.btn-group .btn + .btn, .btn-group .btn + .btn-group, .btn-group .btn-group + .btn, .btn-group .btn-group + .btn-group{
margin-left: 0;
}

.pace{
	background:#FFFFFF;
	}
	
.pace .pace-progress{
	background:#74403e;
	}
	
.loading-page{
	background:#b4d98e;
	}

.pace .pace-progress:after{
	color:#FFFFFF;
	}

.content-box, 
.parallax-portfolio .slider li,
.content-box .entry-header, 
.content-box .team-content, 
.content-box .team-content h3, 
.content-box .team-content p, 
.content-box .team .member, 
.content-box .blogpost{
	background:#FFFFFF;
	}

.content-box p, 
.content-box{
	color:#999999;
	}


	
.content-box .nano.has-scrollbar .nano-slider{
	background:#333333;
	}
			
.nano.has-scrollbar .nano-slider{
	background:#FFFFFF;
	}
